export(getConnectedToTest245)
export(getSystemIDTest245)
export(getAdditionalAddressLinesUS)
export(getStateAbbreviationUSPS)
export(getStreetNumberandNameUS)
export(getTelephoneNumberUS)
export(getZipCodeUS)
export(getExternalReferenceforPartyTest245)
export(getParticipationFunctionTest245)
export(getParticipationModeTest245)
export(getGenericProtocolIDTest245)
export(getWorkflowIDTest245)
export(getAttestationViewTest245)
export(getProofTest245)
export(getAttestationReasonTest245)
export(getConditionseverityTest245)
export(getTestRatio245)
export(getCDCRaceCodeTest245)
export(getbpmTest245)
export(getDateofmostrecentcontactTest245)
export(getTestDvBooleanfor245)
export(getBloodPressureDeviceTest245)
export(getLatitudeDecimalFormat)
export(getLongitudeDecimalFormat)
export(getKarnofskyPerformanceStatusScoreTest245)
export(getAgeinyearsTest245)
export(getyears)
export(getDateofDeathTest245)
