export(getProofTestingOnly)
export(getBloodPressureDeviceTestingUseOnly)
export(getStreetNumberandNameUSTestingOnly)
export(getContainsTestingOnly)
export(getCityNameUSTestingOnly)
export(getOutrasNeoplasias)
export(getAdditionalAddressLinesUSTestingOnly)
export(getTestRatioTestingOnly)
export(getKarnofskyPerformanceStatusScoreTestingOnly)
export(getStateAbbreviationUSPSTestingOnly)
export(getOutros)
export(getConnectedToTestingOnly)
export(getParticipationModeTestingOnly)
export(getParticipationFunctionTestingOnly)
export(getMinutespostinjectionstarttimeTestingOnly)
export(getBodyTemperatureTestingOnly)
export(getFeverduration3weeksorlessTestingOnly)
export(getBladderTestingOnly)
export(getSystemLocationLatitudeTestingOnly)
export(getSystemLocationLongitudeTestingOnly)
export(getNumberofaiquotsTestingOnly)
export(getAttestationViewTestingOnly)
export(getattachedtoTestingOnly)
export(getTelephoneNumberUSTestingOnly)
export(getHeartRateTestingOnly)
export(getWorkflowIDTestingOnly)
export(getZipCodeUSTestingOnly)
