export(getStreetNumberandNameUSTestingOnly)
export(getBloodPressureDeviceTestingUseOnly)
export(getHeartRateTestingOnly)
export(getTelephoneNumberUSTestingOnly)
export(getFeverduration3weeksorlessTestingOnly)
export(getAdditionalAddressLinesUSTestingOnly)
export(getConnectedToTestingOnly)
export(getStateAbbreviationUSPSTestingOnly)
export(getZipCodeUSTestingOnly)
export(getCityNameUSTestingOnly)
export(getBladderTestingOnly)
