export(getProofTestingOnly)
export(getBloodPressureDeviceTestingUseOnly)
export(getStreetNumberandNameUSTestingOnly)
export(getParticipationModeTestingOnly)
export(getParticipationFunctionTestingOnly)
export(getCityNameUSTestingOnly)
export(getFeverduration3weeksorlessTestingOnly)
export(getOutrasNeoplasias)
export(getZipCodeUSTestingOnly)
export(getConnectedToTestingOnly)
export(getSystemLocationLatitudeTestingOnly)
export(getSystemLocationLongitudeTestingOnly)
export(getAttestationViewTestingOnly)
export(getattachedtoTestingOnly)
export(getTelephoneNumberUSTestingOnly)
export(getWorkflowIDTestingOnly)
export(getStateAbbreviationUSPSTestingOnly)
export(getOutros)
export(getAdditionalAddressLinesUSTestingOnly)
export(getTestDvBooleanTestingOnly)
