export(getTelephoneNumberUSTestingOnly)
export(getFeverduration3weeksorlessTestingOnly)
export(getBloodPressureDeviceTestingUseOnly)
export(getStateAbbreviationUSPSTestingOnly)
export(getContainsTestingOnly)
export(getHeartRateTestingOnly)
export(getCityNameUSTestingOnly)
export(getDateofmostrecentcontactTestingOnly)
export(getAdditionalAddressLinesUSTestingOnly)
export(getZipCodeUSTestingOnly)
export(getBladderTestingOnly)
export(getConnectedToTestingOnly)
export(getStreetNumberandNameUSTestingOnly)
