export(getattachedtoTest245)
export(getSystemIDTest245)
export(getAdditionalAddressLinesUS)
export(getStateAbbreviationUSPS)
export(getStreetNumberandNameUS)
export(getTelephoneNumberUS)
export(getZipCodeUS)
export(getExternalReferenceforPartyTest245)
export(getParticipationFunctionTest245)
export(getParticipationModeTest245)
export(getGenericProtocolIDTest245)
export(getWorkflowIDTest245)
export(getAttestationViewTest245)
export(getProofTest245)
export(getAttestationReasonTest245)
export(getDiastolicBloodPressureValue)
export(getmmHg)
export(getSystolicBloodPressureValue)
export(getHeight)
export(getcm)
export(getWeight)
export(getBodyWeightUOM)
export(getHeartRatePulsebeatsperminute)
export(getbeatsperminute)
export(getBodyTemperature)
export(getBodyTemperatureUOM)
export(getMedicationAdministrationdosagerateTest245)
export(getbpmTest245)
export(getConditionseverityTest245)
export(getCDCRaceCodeTest245)
